body {
    background-color: #eee;
}

.thumbImage {
    width: 40px;
    height: auto;
}

.mainHeader {
    background-color: #fff;
}

.menuBox {
    display: flex;
    align-items: center;
}

.topMenu {
    ul {
        list-style: none;
        display: flex;
        padding: .5rem;
        margin: 0;
    }
    .menu-item {
        display: inline-block;
        a {
            display: block;
            padding: .5rem 1rem;
            text-transform: uppercase;
            font-weight: bold;
            border: 2px solid transparent;
            transition: all .4s;
            &:hover {
                border-color: #999;
                color: #999;
                text-decoration: none;
            }
        }
    }
}