<header class="mainHeader">
  <div class="container">
    <div class="menuBox">
      <a href="#" class="mr-md-auto font-weight-normal">
        <strong>Title</strong>
      </a>

      {{ craft.olivemenus.getMenuHTML('topMenu',{ 'menu-id': 'main-menu', 'menu-class': 'topMenu' }) }}
    </div>
  </div>
</header>
